button{
    height: 100%;
    width: 100%;
    border-radius: 30em;
    margin: 1em;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0.2em;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 1em 1.2em;
    font-size: 2em;
    color: black;
    font-family: 'Oswald', sans-serif;
    box-shadow: 1px 3px 10px black;
    max-width: 9em;
}
.on{
    background-color: #004C99;
    color: white;
    border: 0.2em;
}
.off{
    background-color: #990000;
    color: white;
    border: 0.2em;
}
.on:hover{
    background-color: #001933;
}
.off:hover{
    background-color: #660000;
}